* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    font-size: var(--fs-14);
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

:root {
    --primary-color: #b5af47;
    --secondary-color: #434343;
    --white-color: #ffffff;
    --fs-9: 9px;
    --fs-11: 11px;
    --fs-12: 12px;
    --fs-13: 13px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-34: 34px;
    --fs-36: 36px;
    --fs-42: 42px;
    --fs-120: 120px;
    --fw-300: 300;
    --fw-500: 500;
    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 15px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-content-center {
    align-content: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header-start */
header {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px 0;
}

.header ul li {
    display: inline-block;
    margin: 0 20px;
}

.header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: var(--fs-13);
    font-weight: var(--fw-400);
    text-transform: uppercase;
    transition: color 0.3s;
}

.header ul li a:hover {
    color: var(--primary-color);
}

.header ul li:first-child a {
    color: var(--primary-color);
}

header ul li a i {
    color: var(--primary-color);
    font-size: var(--fs-9);
    visibility: hidden;
    opacity: 0;
}

header ul li:first-child a i {
    visibility: visible;
    opacity: 1;
}

header ul li a:hover i {
    visibility: visible;
    opacity: 1;
}

/* header-end */
/* drop down-start */
.header {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    padding: 15px 20px; 
}
header ul li .drop-down ul li:first-child a {
    color: var(--secondary-color);
}

header ul li .drop-down ul li a {
    color: var(--secondary-color);
}
header ul li .drop-down {
    position: absolute;
    color: var(--white-color);
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

header ul li .drop-down ul li {
    margin: 0;
}

header ul li .drop-down ul li a {
    color: var(--secondary-color);
    background-color: var(--white-color);
    padding: 20px 30px;
    display: block;
    font-weight: var(--fw-400);
    font-size: var(--fs-13);
    width: 250px;
    transition: 0.3s;
}

header ul li .drop-down ul li a:hover {
    color: var(--primary-color);
}

header ul li:hover .drop-down {
    top: 35px;
    opacity: 1; 
    visibility: visible;
}
.header .toggle {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
    display: block;
    z-index: 1000;
}
/* drop down-end */
/* banner-start */
.banner {
    position: relative;
    background-image: url(../img/slide3.jpg);
    padding: 250px 0;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: #0000009b;
}

.banner .title-main {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.banner .title-main .love-birds {
    display: inline-block;
    margin: 20px 0;
}

.banner .title-up {
    font-weight: var(--fw-900);
    font-size: var(--fs-24);
    color: var(--white-color);
}

.banner .title-up .char-1 {
    display: inline-block;
    transform: translateX(-2px) translateY(69px) rotate(-43deg);
}

.banner .title-up .char-2 {
    display: inline-block;
    transform: translateX(-5px) translateY(54px) rotate(-38deg);
}

.banner .title-up .sp1 {
    display: inline-block;
    transform: translateX(-7px) translateY(46px) rotate(-35deg);
}

.banner .title-up .char-3 {
    display: inline-block;
    transform: translateX(-7px) translateY(37px) rotate(-31deg);
}

.banner .title-up .char-4 {
    display: inline-block;
    transform: translateX(-8px) translateY(27px) rotate(-26deg);
}

.banner .title-up .char-5 {
    display: inline-block;
    transform: translateX(-8px) translateY(18px) rotate(-22deg);
}

.banner .title-up .sp2 {
    display: inline-block;
    transform: translateX(-7px) translateY(13px) rotate(-19deg);
}

.banner .title-up .char-6 {
    display: inline-block;
    transform: translateX(-6px) translateY(9px) rotate(-15deg);
}

.banner .title-up .char-7 {
    display: inline-block;
    transform: translateX(-4px) translateY(4px) rotate(-10deg);
}

.banner .title-up .char-8 {
    display: inline-block;
    transform: translateX(-2px) translateY(1px) rotate(-6deg);
}

.banner .title-up .char-9 {
    display: inline-block;
    transform: translateX(0px) translateY(0px) rotate(-2deg);
}

.banner .title-up .char-10 {
    display: inline-block;
    transform: translateX(0px) translateY(0px) rotate(1deg);
}

.banner .title-up .char-11 {
    display: inline-block;
    transform: translateX(2px) translateY(1px) rotate(5deg);
}

.banner .title-up .char-12 {
    display: inline-block;
    transform: translateX(4px) translateY(4px) rotate(10deg);
}

.banner .title-up .char-sp3 {
    display: inline-block;
    transform: translateX(5px) translateY(7px) rotate(13deg);
}

.banner .title-up .char-13 {
    display: inline-block;
    transform: translateX(7px) translateY(12px) rotate(17deg);
}

.banner .title-up .char-14 {
    display: inline-block;
    transform: translateX(8px) translateY(20px) rotate(23deg);
}

.banner .title-up .char-15 {
    display: inline-block;
    transform: translateX(8px) translateY(29px) rotate(27deg);
}

.banner .title-up .char-16 {
    display: inline-block;
    transform: translateX(7px) translateY(40px) rotate(32deg);
}

.banner .title-up .char-17 {
    display: inline-block;
    transform: translateX(6px) translateY(49px) rotate(36deg);
}

.banner .title-up .char-18 {
    display: inline-block;
    transform: translateX(4px) translateY(58px) rotate(39deg);
}

.banner .title-up .char-19 {
    display: inline-block;
    transform: translateX(1px) translateY(71px) rotate(44deg);
}

.banner .title-main .title {
    font-size: var(--fs-120);
    color: var(--white-color);
    text-align: center;
}

.banner .title-main .title span {
    color: var(--primary-color);
}

.banner .title-main .title-date span {
    color: var(--white-color);
    font-weight: var(--fw-800);
    font-size: var(--fs-42);
}

.banner .title-main .title-down {
    font-weight: var(--fw-900);
    font-size: var(--fs-24);
    padding: 30px 0 0 0;
    color: var(--primary-color);
}

.banner .title-main .title-down .char-1 {
    display: inline-block;
    transform: translateX(0px) translateY(-30px) rotate(33deg);
}

.banner .title-main .title-down .char-2 {
    display: inline-block;
    transform: translateX(-2px) translateY(-20px) rotate(27deg);
}

.banner .title-main .title-down .char-3 {
    display: inline-block;
    transform: translateX(-2px) translateY(-12px) rotate(20deg);
}

.banner .title-main .title-down .char-4 {
    display: inline-block;
    transform: translateX(-2px) translateY(-6px) rotate(14deg);
}

.banner .title-main .title-down .s1 {
    display: inline-block;
    transform: translateX(-1px) translateY(-3px) rotate(10deg);
}

.banner .title-main .title-down .char-5 {
    display: inline-block;
    transform: translateX(-1px) translateY(-1px) rotate(6deg);
}

.banner .title-main .title-down .char-6 {
    display: inline-block;
    transform: translateX(0px) translateY(0px) rotate(0deg);
}

.banner .title-main .title-down .char-7 {
    display: inline-block;
    transform: translateX(1px) translateY(-1px) rotate(-6deg);
}

.banner .title-main .title-down .sp2 {
    display: inline-block;
    transform: translateX(1px) translateY(-3px) rotate(-10deg);
}

.banner .title-main .title-down .char-8 {
    display: inline-block;
    transform: translateX(2px) translateY(-6px) rotate(-15deg);
}

.banner .title-main .title-down .char-9 {
    display: inline-block;
    transform: translateX(2px) translateY(-12px) rotate(-21deg);
}

.banner .title-main .title-down .char-10 {
    display: inline-block;
    transform: translateX(2px) translateY(-20px) rotate(-27deg);
}

.banner .title-main .title-down .char-11 {
    display: inline-block;
    transform: translateX(0px) translateY(-30px) rotate(-33deg);
}

/* banner-end */
/* sub-banner-start */
.countdown {
    background-color: var(--primary-color);
    padding: 20px 0;
    height: 300px;
    width: 100%;
}

.countdown h2 {
    text-align: center;
    font-size: var(--fs-28);
    color: var(--white-color);
    padding: 60px 0 0 0;
}

.countdown .count-btn a {
    color: var(--white-color);
    font-size: var(--fs-36);
    align-items: center;
    padding: 120px 0 0 0;
}

.countdown .count-btn a:hover {
    color: #f9f50e;
}

/* sub-banner-end */
/* about-start */
.about {
    padding: 50px 0;
    text-align: center;
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .col-6 {
    padding: 20px;
}

.about .title {
    font-size: 20px;
    font-weight: bold;
    color: #8b8b2b;
}

.about .name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}

.about img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about img:hover {
    transform: scale(0.9);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about .desc {
    margin: 20px 0;
    font-size: 14px;
    color: #555;
}

.about .desc b {
    color: var(--primary-color);
}

.about .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #8b8b2b;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s ease;
    margin-bottom: 10px;
}

.about .btn:hover {
    background: #6b6b1f;
}

/* about-end */
/* guys-start */
.guys {
    text-align: center;
    padding: 40px 20px;
    background: var(--white-color);
    background-image: url(../img/slide2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-color: #0000009b;

}

.guys .guys-title h2 {
    font-size: var(--fs-42);
    font-weight: var(--fw-900);
    margin-top: 90px;
    color: var(--white-color);
}

.guys .guys-title h4 {
    font-size: var(--fs-24);
    margin-bottom: 30px;
    color: var(--primary-color);
}

.guys .guys-content .profile-card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.guys .guys-content .profile-card {
    width: 200px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: transform 0.3s;
}

.guys .guys-content .profile-card {
    transition: box-shadow 0.3s ease-in-out;
}

.guys .guys-content .profile-card:hover {
    box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.7);
}

.guys .guys-content .profile-card:hover {
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.guys .guys-content .profile-card img {
    width: 100%;
    height: 200px;
    object-fit: content;
}

.guys .guys-content .profile-card img {
    transition: filter 0.3s ease-in-out;
}

.guys .guys-content .profile-card:hover img {
    filter: blur(1px);
}

.guys .guys-content .profile-card h4 {
    font-size: var(--fs-24);
    font-weight: var(--fw-900);
    padding: 12px 0;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.guys .guys-content .profile-card h4 {
    transition: 0.3s ease-in-out;
}

.guys .guys-content .profile-card:hover h4 {
    background: var(--secondary-color);
}

.guys .guys-content .profile-card:hover {
    transform: translateY(-10px);
}

.guys .guys-btn .view-all-button {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 20px;
    background: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    border-radius: 5px;
}

.guys .guys-btn .view-all-button:hover {
    background: var(--secondary-color);
}

.guys .guys-btn .view-all-button {
    transition: transform 0.3s ease;
}

.guys .guys-btn .view-all-button:hover {
    transform: scale(1.1);
}

/* guys-end */
/* blog-start */
.blog {
    text-align: center;
    padding: 40px 20px;
    background: var(--white-color);
}

.blog .blog-title h2 {
    font-size: var(--fs-36);
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.blog .blog-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10px;
}

.blog .blog-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: var(--white-color);
    text-align: left;
    transition: transform 0.3s;
}

.blog .blog-card {
    position: relative;
}

.blog .blog-card:hover::before {
    background: rgba(0, 0, 0, 0.2);
}

.blog .blog-card img {
    width: 100%;
    height: auto;
}

.blog .blog-card img {
    transition: transform 0.3s ease;
}

.blog .blog-card:hover img {
    transform: scale(1.1);
}

.blog .blog-card-content {
    padding: 15px;
}

.blog .blog-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog .blog-card-content h4 {
    font-size: var(--fs-20);
    margin: 10px 0;
    color: var(--secondary-color);
}

.blog .blog-card-content p {
    color: var(--secondary-color);
    margin: 5px 0 15px;
}

.blog .blog-card-content a {
    display: inline-block;
    padding: 8px 15px;
    background: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    border-radius: 5px;
}

.blog .blog-card-content a {
    transition: transform 0.3s;
}

.blog .blog-card-content a:hover {
    transform: scale(1.1);
}

.blog .blog-card:hover {
    transform: translateY(-10px);
}

.blog .view-all-button {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 20px;
    background: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    border-radius: 5px;
}

.blog .view-all-button:hover {
    background: var(--secondary-color);
}

/* blog-end */
/* info-start */
.info {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--white-color);
}

.info .info-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info .info-card {
    padding: 20px;
    background: var(--white-color);
    border: 0;
    box-shadow: 0;
    text-align: center;
    transition: transform 0.3s;
}

.info .info-card:hover {
    box-shadow: 0px 0px 15px rgba(121, 120, 120, 0.7);
}

.info .info-card .icon img {
    color: gray;
    font-size: var(--fs-120);
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    justify-content: center;
}

.info .info-card .icon img {
    transition: transform 0.3s ease;
}

.info .info-card:hover .icon img {
    transform: scale(1.2);
}

.info .info-card h3 {
    font-size: var(--fs-20);
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.info .info-card h5 {
    margin-bottom: 20px;
    color: var(--primary-color);
    font-weight: var(--fw-700);
}

.info .info-card p {
    color: var(--secondary-color);
    line-height: 1.6;
    margin-bottom: 20px;
}

.info .info-card .read-more-button {
    display: inline-block;
    padding: 10px 20px;
    background: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    border-radius: 5px;
}

.info .info-card .read-more-button:hover {
    background: var(--secondary-color);
}

/* info-end */
/* footer-start*/
footer {
    background-color: #2d2e21;
    height: 350px;
    padding: 40px 0 20px 0;
    text-align: center;
}

footer .love-birds {
    display: inline-block;
    margin: 20px 0;
}

footer .footer-c {
    color: var(--primary-color);
    font-size: var(--fs-30);
}

footer .footer-c .char1 {
    display: inline-block;
    transition: none;
    transform: translateX(-2px) translateY(-56px) rotate(57deg);
}

footer .footer-c .char2 {
    display: inline-block;
    transition: none;
    transform: translateX(-6px) translateY(-42px) rotate(49deg);
}

footer .footer-c .char3 {
    display: inline-block;
    transition: none;
    transform: translateX(-8px) translateY(-29px) rotate(40deg);
}

footer .footer-c .char4 {
    display: inline-block;
    transition: none;
    transform: translateX(-8px) translateY(-20px) rotate(33deg);
}

footer .footer-c .char5 {
    display: inline-block;
    transition: none;
    transform: translateX(-8px) translateY(-13px) rotate(27deg);
}

footer .footer-c .char6 {
    display: inline-block;
    transition: none;
    transform: translateX(-6px) translateY(-7px) rotate(19deg);
}

footer .footer-c .char7 {
    display: inline-block;
    transition: none;
    transform: translateX(-3px) translateY(-2px) rotate(10deg);
}

footer .footer-c .sp1 {
    display: inline-block;
    transition: none;
    transform: translateX(-1px) translateY(0px) rotate(4deg);
}

footer .footer-c .and {
    display: inline-block;
    transition: none;
    transform: translateX(1px) translateY(0px) rotate(-3deg);
}

footer .footer-c .sp2 {
    display: inline-block;
    transition: none;
    transform: translateX(3px) translateY(-2px) rotate(-10deg);
}

footer .footer-c .char8 {
    display: inline-block;
    transition: none;
    transform: translateX(5px) translateY(-5px) rotate(-17deg);
}

footer .footer-c .char9 {
    display: inline-block;
    transition: none;
    transform: translateX(7px) translateY(-12px) rotate(-26deg);
}

footer .footer-c .char10 {
    display: inline-block;
    transition: none;
    transform: translateX(8px) translateY(-18px) rotate(-32deg);
}

footer .footer-c .char11 {
    display: inline-block;
    transition: none;
    transform: translateX(8px) translateY(-27px) rotate(-39deg);
}

footer .footer-c .char12 {
    display: inline-block;
    transition: none;
    transform: translateX(6px) translateY(-40px) rotate(-47deg);
}

footer .footer-c .char13 {
    display: inline-block;
    transition: none;
    transform: translateX(2px) translateY(-54px) rotate(-56deg);
}

footer .footer_socials {
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

footer .footer_socials a img {
    width: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer .footer_socials a:hover img {
    transform: scale(1.2) rotate(10deg);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
    filter: brightness(1.2);
}

footer .footer_socials ul,
footer .footer-socials ul {
    margin: 0px;
    padding: 0px;
}

footer .footer_socials a {
    display: inline-block;
    margin: 0 10px;
}
.my-12{
    margin: 15px 0;
}
/* footer-end*/